<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
          <!--<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>-->
          <ul id="sideManu" class="nav nav-tabs nav-stacked">
          <label>Select the category please</label>
               <li class="subMenu open"><a> Vehicles</a>
                    <ul>
                    <li><a <class="active" href="products.html <!--cat1=1--> "><i class="icon-chevron-right"></i>Cars </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Motor Bikes</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Vans </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Trollers</a></li>
                    </ul>
               </li>
               <li class="subMenu"><a> Fashion & Beauty</a>
               <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Clothes </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Foot Wear </a></li>                                                            
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Accessories</a></li>                                                           
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Watches</a></li>                                                          
                                                                             
               </ul>
               </li>
               <li class="subMenu"><a>Electronic And Computers</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Computers & Laptops  </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Cameras </a></li>    
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Videos Games & Consoles</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>TV-Video-Audio</a></li>                                                        
                                                                  
                                                                                
               </ul>
               </li>
               <li class="subMenu"><a>Mobiles & Tablets </a>
                   <ul style="display:none">
                   <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phones </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Tablets </a></li>                                                         
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Accessories</a></li>    
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Gadgets</a></li>
               </ul>
               </li>
               <li class="subMenu"><a>Home & Furniture</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Furniture  </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Fridge-AC-Washing Machine</a></li>     
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Home & Kitchen Appliances</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Other Household Items</a></li>                                                           
               </ul>
               </li>
               <li class="subMenu"><a>Real State</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Houses </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Appartments </a></li>                                                          
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Lands & Plots</a></li>  
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Shop-Offices</a></li>
                                                                                
               </ul>
               </li>
                    
               </ul>
          <br/>
    </div>
    <br/>
	<!-- Sidebar end=============================================== -->

<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.php">Home</a> <span class="divider">/</span></li>
		<li class="active">Forget password?</li>
    </ul>
	<h3> FORGET YOUR PASSWORD?</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Reset your password</h5><br/>
			Please enter the email address for your account. Use the form below to change your password .<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">E-mail address</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Email">
				</div>
			  </div>
			  			  <div class="control-group">
				<label class="control-label" for="inputPassword1">New Password</label>
				<div class="controls">
				  <input type="password" class="span3"  name ="inputPassword1" placeholder="Password">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Submit</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>