<div id="carouselBlk">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
		  <div class="item active">
		  <div class="container">
			<a href="products.php"><img style="width:100%" src="themes/images/carousel/lo.jpg" alt="special offers"/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		  </div>
		  </div>
		  <div class="item">
		  <div class="container">
			<a href="products.php"><img style="width:100%" src="themes/images/carousel/fo.jpg" alt=""/></a>
				<div class="carousel-caption"
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		  </div>
		  </div>
		  <div class="item">
		  <div class="container">
			<a href="products.php"><img src="themes/images/carousel/ko.jpg" alt=""/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
			
		  </div>
		  </div>
		   <div class="item">
		   <div class="container">
			<a href="products.php"><img src="themes/images/carousel/po.gif" alt=""/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		   
		  </div>
		  </div>
		   <div class="item">
		   <div class="container">
			<a href="products.php"><img src="themes/images/carousel/5.png" alt=""/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</div>
		  </div>
		  </div>
		   <div class="item">
		   <div class="container">
			<a href="products.php"><img src="themes/images/carousel/6.png" alt=""/></a>
			<div class="carousel-caption">
				  <h4>Second Thumbnail label</h4>
				  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div>
		  </div>
		  </div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div> 
</div>

<!-- Sidebar start=============================================== -->
<!--Sidebar end=============================================== -->

<div id="mainBody">
	<div class="container">
	<div class="row"> 


	<div class="span1" style="margin-left:120px;">
	</div>
	<div class="span9" >
		
		<h4>Categories </h4>
		
			  <ul class="thumbnails">
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=1"><img src="themes/images/products/6.jpg" alt=""/></a>
					<div class="caption">
					  <h5>Vehicles</h5>
					 
					
					 
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=2"><img src="themes/images/products/7.jpg" alt="" height="250" width="310"/></a>	
					<div class="caption">
					  <h5><br><br>Fashion & Beauty</h5>
					 
					
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=3"><img src="themes/images/products/8.jpg" alt="" height="80" width="180" /></a>
					<div class="caption">
					  <h5>Electronic & Computers </h5>
					 
					   
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=4"><img src="themes/images/products/9.jpg" alt=""  height="680" width="710"/></a>
					<div class="caption">	
					  <h5><br><br>Mobile & Tablets </h5>
						
					 
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=5"><img src="themes/images/products/10.jpg" alt="" height="100" width="190"/></a>
					<div class="caption">
					  <h5>Home & Furniture</h5>
				
					 
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="subcat.php?mcat=6"><img src="themes/images/products/11.jpg" alt=""height="580" width="1050"/></a>
					<div class="caption">
					  <h5><br><br><br>Real State</h5>
					 
					 
					</div>
				  </div>
				</li>
			  </ul>	

		</div>
		</div>
	</div>
</div>
