


<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->








<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
       
          <ul id="sideManu" class="nav nav-tabs nav-stacked">
          <label>Select the category please</label>
               <li class="subMenu open"><a> Vehicles</a>
                    <ul>
                    <li><a <class="active" href="products.html"><i class="icon-chevron-right"></i>Cars </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Motor Bikes</a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Vans </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Trollers</a></li>
                    </ul>
               </li>
               <li class="subMenu"><a> Fashion & Beauty</a>
               <ul style="display:none">
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Clothes </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Foot Wear </a></li>                                                            
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Accessories</a></li>                                                           
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Watches</a></li>                                                          
                                                                             
               </ul>
               </li>
               <li class="subMenu"><a>Electronic And Computers</a>
                    <ul style="display:none">
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Computers & Laptops  </a></li>
					<li><a ng-href="products"><i class="icon-chevron-right"></i>Cameras </a></li>    
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Videos Games & Consoles</a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>TV-Video-Audio</a></li>                                                        
                                                                  
                                                                                
               </ul>
               </li>
               <li class="subMenu"><a>Mobiles & Tablets </a>
                   <ul style="display:none">
                   <li><a ng-href="products"><i class="icon-chevron-right"></i>Mobile Phones </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Tablets </a></li>                                                         
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Accessories</a></li>    
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Gadgets</a></li>
               </ul>
               </li>
               <li class="subMenu"><a>Home & Furniture</a>
                    <ul style="display:none">
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Furniture  </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Fridge-AC-Washing Machine</a></li>     
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Home & Kitchen Appliances</a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Other Household Items</a></li>                                                           
               </ul>
               </li>
               <li class="subMenu"><a>Real State</a>
                    <ul style="display:none">
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Houses </a></li>
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Appartments </a></li>                                                          
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Lands & Plots</a></li>  
                    <li><a ng-href="products"><i class="icon-chevron-right"></i>Shop-Offices</a></li>
                                                                                
               </ul>
               </li>
                    
               </ul>
          <br/>
    </div>
    <br/>
	<!-- Sidebar end=============================================== -->













<!-- Sidebar end=============================================== -->
	<div class="span9" style="margin-top:325px;">
    <ul class="breadcrumb" style="margin:-345px 0px 20px">
		<li><a href="index.php">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	

	
	<div class="row">
		<div class="span4">
		
			
			<form class="well">
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">Email</label>
				<div class="controls">
				  <input class="span3"  type="text" name="inputEmail1" placeholder="Email" ng-model="email">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword1">Password</label>
				<div class="controls">
				  <input type="password" class="span3"  name ="inputPassword1" placeholder="Password" ng-model="password">
				</div>
			  </div>
			  <div class="control-group">

				<div class="controls">
				  <button type="submit" class="btn" ng-click="login()">Sign in</button> <a ng-href="/#/forgetpass" style="text-decoration:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forget password</a>
				</div>
        <a ng-href="/#/register"><h5>Don't  have an Account Yet ?</h5></a>
			  </div>
			
				
			</form>
		
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
</div>
