<div id="mainBody">
	<div class="container">
		<div class="row">
	<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
          <!--<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>-->
          <ul id="sideManu" class="nav nav-tabs nav-stacked">
          <label>Select the category please</label>
               <li class="subMenu open"><a> Vehicles</a>
                    <ul>
                    <li><a <class="active" href="products.html <!--cat1=1--> "><i class="icon-chevron-right"></i>Cars </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Motor Bikes</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Vans </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Trollers</a></li>
                    </ul>
               </li>
               <li class="subMenu"><a> Fashion & Beauty</a>
               <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Clothes </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Foot Wear </a></li>                                                            
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Accessories</a></li>                                                           
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Watches</a></li>                                                          
                                                                             
               </ul>
               </li>
               <li class="subMenu"><a>Electronic And Computers</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Computers & Laptops  </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Cameras </a></li>    
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Videos Games & Consoles</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>TV-Video-Audio</a></li>                                                        
                                                                  
                                                                                
               </ul>
               </li>
               <li class="subMenu"><a>Mobiles & Tablets </a>
                   <ul style="display:none">
                   <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phones </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Tablets </a></li>                                                         
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Accessories</a></li>    
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Gadgets</a></li>
               </ul>
               </li>
               <li class="subMenu"><a>Home & Furniture</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Furniture  </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Fridge-AC-Washing Machine</a></li>     
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Home & Kitchen Appliances</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Other Household Items</a></li>                                                           
               </ul>
               </li>
               <li class="subMenu"><a>Real State</a>
                    <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Houses </a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Appartments </a></li>                                                          
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Lands & Plots</a></li>  
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Shop-Offices</a></li>
                                                                                
               </ul>
               </li>
                    
               </ul>
          <br/>
    </div>
    <br/>
	<!-- Sidebar end=============================================== -->

		
		<div class="span9" style="margin-top:325px">
	    <ul class="breadcrumb" style="margin:-345px 0px 20px">
			<li><a href="index.html">Home</a> <span class="divider">/</span></li>
			<li class="active">Products Name</li>
	    </ul>
		<h3> Category Name <small class="pull-right"> 40 products are available </small></h3>	
		<hr class="soft"/>
		<p>
			Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
		</p>


		<hr class="soft"/>
		<form class="form-horizontal span6">
			<div class="control-group">
			  <label class="control-label alignL">Sort By </label>
				<select>
	              <option>Priduct name A - Z</option>
	              <option>Priduct name Z - A</option>
	              <option>Priduct Stoke</option>

	              <option>Price Lowest first</option>
	            </select>
			</div>
		  </form>
		  
	<div id="myTab" class="pull-right">
	 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>

	</div>
	<br class="clr"/>
	<div class="tab-content">
		<div class="tab-pane active" id="listView">


	<hr class="soft"/>
			 				<div class="row">	  
							<div class="span2">
							<img src="themes/images/products/3.jpg" alt=""/>
							</div>";
						
			         <div class="span4"><h3>Title</h3><hr class="soft"/><p>
			                DESCRIPTION</p><br class="clr"/></div><div class="span3 alignR">
			                <form class="form-horizontal qtyFrm">
							<h3> Rs:PRICE</h3>;
							
				     <a href="product_details.html" class="btn btn-large btn-primary"> View details<i class="icon-zoom-in icon-white"></i></a>
						    <br><br></form></div></div>



			 

</div>
	</div>

		<div class="pagination">
				<ul>
				<li><a href="#">&lsaquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">&rsaquo;</a></li>
				</ul>
				</div>
				<br class="clr"/>
	</div>
	</div>
	</div>
